{% extends "base.html" %}

{% block title %}
Logowanie
{% endblock %}

{% block content %}

<!-- ===================== NAGŁÓWEK ===================== -->
<h3>Zaloguj się</h3>

<!-- ===================== FORMULARZ LOGOWANIA ===================== -->
<form method="POST">
    <!-- CSRF / Hidden Fields -->
    {{ form.hidden_tag() }}

    <!-- LOGIN -->
    <div class="form-group">
        {{ form.username.label }}

        {% if errors and errors.username %}
            {{ form.username(class_="form-control is-invalid") }}
            <div class="invalid-feedback">
                {{ errors.username|join(' ') }}
            </div>
        {% else %}
            {{ form.username(class_="form-control") }}
        {% endif %}
    </div>

    <!-- HASŁO -->
    <div class="form-group">
        {{ form.password.label }}

        {% if errors and errors.password %}
            {{ form.password(class_="form-control is-invalid") }}
            <div class="invalid-feedback">
                {{ errors.password|join(' ') }}
            </div>
        {% else %}
            {{ form.password(class_="form-control") }}
        {% endif %}
    </div>

    <!-- PRZYCISK LOGOWANIA -->
    <button type="submit" class="btn btn-primary mt-4">
        Zaloguj
    </button>

</form>

{% endblock %}